.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/
**/*.ipynb_checkpoints/

venv/
.venv/

*/images
.tar
.gz

lab1/.ipynb_checkpoints/

lab2/README.md
lab2/.ipynb_checkpoints/
lab2/LICENSE-CC-BY-4.0.txt

*/images
.tar
.gz
*/.tar
*/.gz